<h2><%= @store.name() %></h2>

<div class="row">
  <div class="col-md-6">
    <% if @store.brands.any? %>
    <h3>These brands are currently in stock:</h3>
    <ul>
      <% @store.brands.each() do |store_brand| %>
        <li><%= store_brand.name %></li>
      <% end %>
    </ul>

    <% else %>

      <p><strong>Currently no shoe brands are in stock for this store.</strong></p>

    <% end %>

    <p>Add a shoe brand to the store:</p>

    <form id="add_brand_id" action="/stores/<%= @store.id() %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <input type="hidden" name="store_id" id="store_id" value="<%= @store.id() %>">
      <label for="brand_id">Select a brand:</label>
        <br>
      <select id="brand_id" name="brand_id">
        <option value=""></option>
        <% @brands.each() do |brand| %>
          <option value="<%= brand.id() %>"><%= brand.name() %></option>
        <% end %>
      </select>
      <button type="submit">Submit</button>
    </form>
  </div>

  <div class="col-md-6">
    <h4>Update Details:</h4>
    <form action="/stores/<%= @store.id %>/edit" method="post">
      <input name="_method" type="hidden" value="patch">
      <label for="new-store-name"><h5>Store Name:</h5></label>
      <input type="text" id="new-store-name" name="new-store-name">
      <button type="submit" class="btn">Update Store</button>
    </form>

    <form action="/stores/<%= @store.id %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit" class="btn">Delete Store</button>
    </form>
  </div>
</div>
